/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-color-half:#DEEBFF;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --neutral-color:#D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;  
}
main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
p{
    margin: 0px;
}

a{
 margin:0;   
}
 

.bg_maquette {
    position: relative;
    height: 0px;
    overflow:visible;
    width: 100%;            /* Full viewport width */
    opacity: 0.5;
    z-index: -1;             /* Place it behind other elements */
    pointer-events: none;    /* Ignore mouse events */
}
.image-bg{
    width: 100%;
    height: auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}
.section-more {
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

img{
    height: 100%;

}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    height:80px;
    width: 100%;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 0px
}
.logo{
    height: 25%;
}

.menu-header{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: start;
    gap: 70px; 
}

.button-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-menu-hover{
width: 100%;
height: 2px;
margin-bottom: 15px;
background-color: var(--main-color);
opacity: 0;
}

.button-menu:hover .button-menu-hover{
    opacity: 1;
}

.button-menu:hover .button-menu-text{
    color: var(--main-color);
}


/* Recherche */
.recherche{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.headline-recherche{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recherche-field{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-wrap: wrap;
    width: fit-content;
    height: 50px;
    padding: 0;
    gap: 0px;
    overflow: hidden;
    border-radius: 15px;;
}
.icon-recherche{
    width: 50px;
    background-color: var(--neutral-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-location-dot{
    color:black;
}

.recherche-input{
    height: 100%;
    border-radius: 0px;
    border: 0;
}

.submit-rechercher{
    display: block;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
}
.submit-rechercher-mobile{
    display: none;
}

/* filter */
.button-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
    border: 2px solid;
    /* height: 50px; */
    border-radius: 25px;
    border-color: #D9D9D9 ;
    /* var(--filter-bg-color) */
}
.button-filter:hover{
    background-color: var(--main-color-half);
}

.filter-search{
    display: flex;
    justify-content:left;
    align-items: center;
    gap:10px;
}
.text-filter{
 margin: 0px;   
}
/* .fa-money-bill-wave .fa-person .fa-heart .fa-fire{
    font-size: fa-xl;
} */

.infobar{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.hébergement-cards{
    display: flex;
    flex-direction:row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.hébergement-cards .card{
    display: flex;
    flex: 1;
    flex-direction: column;
}


.hébergement-cards a{
    display: flex;
    flex: 1;
    flex-direction: column;
}


.hébergement-cards img {
    display: block;
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hébergement-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hébergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hébergement_cards .card-subtitle {
    margin: 0;
}

.hébergement_cards .card-rating {
    margin-bottom: 5px;
}



/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 30px;
    justify-content: space-evenly;
}

.populaires-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.populaires-cards  {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}
.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 124px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .submit-rechercher{
        opacity: 1;
    }
    .submit-rechercher-mobile{
        opacity: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .submit-rechercher{
        display: none;
    }
    .submit-rechercher-mobile{
        display: block;
    }
}